.hero-wrapper {
  width: 100%;
  overflow: hidden;
}

/* Desktop */
.hero-slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Tablet */
@media (max-width: 992px) {
  .hero-slide {
    height: 75vh;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .hero-slide {
    height: 60vh;
    background-position: top;
  }
}


nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #FCAF2E;
}
.slider-arrow {
  display: none;
}
.swiper-button-next, .swiper-button-prev {
  display: none !important;
}
footer a {
  text-decoration: none;
  color: #d1d5db; /* gray-300 */
}

footer a:hover {
  color: #D2B563;
}
