@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

.animate-slide-up {
  animation: slide-up 0.8s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out;
  animation-fill-mode: both;
}

.animate-scroll {
  animation: scroll 2s ease-in-out infinite;
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}
:root {
  --navbar-height: 96px; /* navbar actual height ke approx */
}
a{
  text-decoration: none;
}

/* faq css */

.accordion-button {
  background: linear-gradient(90deg, #f8f9fa, #ffffff);
  border-radius: 8px;
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(90deg, #fcaf2e, #fcaf2e);
  color: #fff;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.card {
  border-radius: 12px;
}
.accordion-button::after{
  display: none;
}
/* breadcrumb css */
.breadcrumb-item a {
  color: #ddd;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  color: #fff;
}

.breadcrumb-item.active {
  color: #fff;
}
